.header {
 background-color: aquamarine;
}

.logo img {
  width: 100px; /* Adjust as needed */
  height: auto;
}

.navigation ul {
  list-style: none;
  display: flex;
  gap: 1rem;
}

.navigation a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  transition: color 0.3s;
}

.navigation a:hover {
  color: #ff9900;
}

.title {
  font-size:xx-large;
  font-weight: 600;
  color: aliceblue;
}
.rounded-button{
  border-radius: 35%;
}
