/* .centered-controls {
    position: relative;
  }
.centered-controls video::-webkit-media-controls-play-button {
    position: absolute;
    top:10%;
    left:50%;
    transform: translate(-50%, -50%);
   
} */
